@font-face {
    font-family: 'Genshin Impact';
    src: url('fonts/Genshin-Impact-Font/zh-cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Genshin Impact', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFFAEF;
    background: #2a0e47;          
}

.image{
    aspect-ratio: 7/4;
}

header{
  position: fixed;
}


.toolbar {    
    color: white;
    padding: 10px;
    margin-inline: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar .user-info {
    display: flex;
    align-items: right;
    gap: 15px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: right;
    margin-left: 1200px
}

.toolbar .user-info .login-button {
    background-color: #ffb115; 
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 25px;    
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.toolbar .user-info .login-button:hover {
    background-color: #ffb115; 
    scale: 1.05;
    transition: all 0.3s;
}

.toolbar .user-info .register-link {
    color: #ffb115; 
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 25px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.toolbar .user-info .register-link:hover {
    color: white;
    background-color: #ffb115; 
}
.navbar {
    background-color: #ff3b93;
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
}


.navbar a {
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 25px;    
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #ffb115; 
    scale: 1.05;
    transition: all 0.3s;
    cursor: grab;
}   

.logo-guess {
color: #fafaf5; 
}
.logo {
font-family: sans-serif; 
font-size: 2.8rem;
height: 71px;
width: max-content;
font-weight: bold;
text-decoration: none;
display: inline-block;
animation: pulseScale 5s infinite;
margin-left: 50px;
}

.logo-who {
display: inline-block;
animation: flipY 6s infinite;
width: min-content;
}

.logo-who .w {
color: #ffb115;
}

.logo-who .h {
color: #4192c9;
}

.logo-who .o {
color: #59dbec;
}

.logo-who .question {
color: #F72585;
}
@keyframes flipY {
0% {
transform: rotateX(0deg);
}
16.67% {
transform: rotateX(360deg);
}
100% {
transform: rotateX(360deg);
}}

.intro h1 {

    color: #fffaef;
    font-size: 3rem;
    padding-top: 30vh;
    text-align: center;
    font-weight: bold;
}

.intro h3 {
    color: #fffaef;
    font-size: 1.5rem;
    margin-top: -30px;
    text-align: center;
    font-weight: bold;
}

.team-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.team-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 50px; 
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

.team-image img {
    width: 50%; 
    height: auto;
    border-radius: 15px; 
}

.team-info {
    background-color: #4c99af;
    color: #fffaef;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 50%;
}


.score-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}
.score-container h2 {
    color: #fffaef;
    text-align: right;
    font-size: 3rem;
    margin-right: 100px;
}

.score-container h3 {
    color: #fffaef;
    font-size: 1.5em;
}

.score-image img {
    float: right; 
    margin-right: -100px;
    margin-left: 50px; 
    margin-bottom: 100px;
    margin-top: s0px;
    width: 75%; 
    max-width: 75%;
    height: auto;
    border-radius: 15px; 
}

.footer {
    background: #a210ff;
    color: #FFFAEF;
    text-align: center;
    padding: 10px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 15px;
}
.menu{
  display:none;
}

.navLinks {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px;
    justify-content: center;
}

.hamburger{
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger span {
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}
.navAnimation{
  transition: all;
  animation-name: navbarAnimation;
  animation-duration: 0.5s;
}
@keyframes navbarAnimation {
  0%{
    width: 0;
  } 
  100%{
    width: 75vw;
  }
}
@media only screen and (max-width: 600px){
    .team-image img{
        width: 100%;
    }
    .team-info{
        width: 100%;
    }
    .team-content{
        padding-inline: 30px;
    }
    .menu{
    display:block;
  }
  header{
    width: 100%;
  }
  .navbar{
    margin: 0;
    margin-top: 2.5vh;
    justify-content: space-around;
    width: max-content;
    margin-inline: 10px;
  } 
  .navLinks{
    width: 75vw;
  } 
  .hidden{
    display:none;
  } 
  .navLinks a {
    padding-inline: 0;;
  }
  .logo{
    left: 0;
    position: absolute;
    margin: 0;
    font-size: 2rem;
  }
  .user-info{
    margin-left: 0;
    position: absolute;
    right: 0;
    font-size: 0.rem;
  }

}